@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
@media only screen and (min-width: 780px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.transbox   {
    width: 950px;
    height: 250px;
    background-color: grey;
    margin-left: 250px;
    display: inline-flex;
}

.style-box  {
    width: 450px;
    text-align: right;
    padding-bottom: 4px;
    font-size: 30px;
    margin-left: 225px;
}


.all-inputs  {
    height: 35px;
    width: 250px;
    padding-top: 2px;
    margin-left: 15px;
    margin-top: 25px;
    border-radius: 5px;
}

.transfer   {
    height: 35px;
    width: 150px;
    margin-right: 50px;
    margin-top: 12px;
    border: black solid 3px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* .extension  {
    display: inline-flex;
    width: 950px;
} */