{% extends 'transaction.html' %}

{% block body %}
<div class='extension'>
<h1 class='heading'>Account Info.</h1>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Account Balance</th>
            </tr>
            
            <tr>
            {% for all in info %}
                <td>{{all}}</td>
                <td>{{all.email}}</td>
                <td>{{all.gender}}</td>
                <td>{{all.amount}}</td>
            {% endfor %}
            </tr>
            
        </table>
</div>
{% endblock body %}